version: "3.9"

services:
  postgres-order:
    image: postgres:15
    container_name: postgres-order
    restart: always
    environment:
      POSTGRES_DB: orderdb
      POSTGRES_USER: orderuser
      POSTGRES_PASSWORD: orderpass
    ports:
      - "50011:5432"
    volumes:
      - api-order-service-v1-db-data:/var/lib/postgresql/data

volumes:
  api-order-service-v1-db-data:
